
localhost:80 {
  handle /pb* {
    uri strip_prefix /pb
    reverse_proxy s_pocketbase:8095
  }
  reverse_proxy s_app:4005
}

localhost:443 {
  tls internal

  handle /pb* {
    uri strip_prefix /pb
    reverse_proxy s_pocketbase:8095
  }
  reverse_proxy s_app:4005
}