# SLC ignore
**/.slc-dev
**/.svelte-kit
**/tests
**/.eslintignore
**/.npmrc
**/.prettierignore
**/.prettierrc
**/.gitignore
.eslintrc.cjs

# https://docs.docker.com/engine/reference/builder/#dockerignore-file
**/.classpath
**/.dockerignore
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/.next
**/.cache
**/*.*proj.user
**/_.dbmdl
\*\*/_.jfm
**/charts
**/docker-compose*
\*\*/compose*
**/Dockerfile\*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
**/build
\*\*/dist
LICENSE
README.md
