node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
# .env
# .env.*
# !.env.example
# !.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# SLC ignore
/.slc-production/pocketbase/pb_data
# /.slc-production/pocketbase/pb_migrations
# /.slc-production/pocketbase/pb_public
.vscode
package-lock.json