services:
  # NODE.JS APPLICATION
  s_app:
    build:
      context: .
      dockerfile: Dockerfile.app
    container_name: c_node_slcapplocal
    restart: unless-stopped
    env_file:
      - .env.production
    environment:
      NODE_ENV: production
      PORT: ${PORT}
      ORIGIN: ${ORIGIN}
      BODY_SIZE_LIMIT: ${BODY_SIZE_LIMIT}
    ports:
      - ${PORT}:${PORT}
    networks:
      - network_0
  # POCKETBASE SQLITE DB
  s_pocketbase:
    build:
      context: .
      dockerfile: Dockerfile.pb
    container_name: c_pocketbase_slcapplocal
    restart: unless-stopped
    volumes:
      - ./.slc-production/pocketbase/pb_data:/pb/pb_data
      - ./.slc-production/pocketbase/pb_hooks:/pb/pb_hooks
      - ./.slc-production/pocketbase/pb_migrations:/pb/pb_migrations
      - ./.slc-production/pocketbase/pb_public:/pb/pb_public
    ports:
      - ${PB_PORT}:${PB_PORT}
    depends_on:
      - s_app
    networks:
      - network_0

networks:
  network_0:
    driver: bridge
