@import 'tailwindcss';
@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

/* SLC Colors Token */
:root {
	/* Web Orange */
	--token-primary-50: 52 100% 97%;
	--token-primary-100: 50 100% 88%;
	--token-primary-200: 50 100% 75%;
	--token-primary-300: 45 100% 63%;
	--token-primary-400: 42 100% 55%;
	--token-primary-500: 39 100% 50%;
	--token-primary-600: 35 100% 44%;
	--token-primary-700: 27 97% 36%;
	--token-primary-800: 30 88% 31%;
	--token-primary-900: 20 80% 26%;
	--token-primary-950: 20 100% 14%;
	/* Blue */
	--token-secondary-50: 210 100% 97%;
	--token-secondary-100: 210 100% 93%;
	--token-secondary-200: 210 100% 87%;
	--token-secondary-300: 210 100% 78%;
	--token-secondary-400: 210 100% 68%;
	--token-secondary-500: 210 100% 60%;
	--token-secondary-600: 210 100% 53%;
	--token-secondary-700: 210 100% 48%;
	--token-secondary-800: 210 100% 40%;
	--token-secondary-900: 210 100% 33%;
	--token-secondary-950: 210 100% 21%;
	/* Green */
	--token-tertiary-50: 82 39% 82%;
	--token-tertiary-100: 82 39% 77%;
	--token-tertiary-200: 82 39% 70%;
	--token-tertiary-300: 82 39% 63%;
	--token-tertiary-400: 82 39% 56%;
	--token-tertiary-500: 82 39% 49%;
	--token-tertiary-600: 82 39% 42%;
	--token-tertiary-700: 82 39% 35%;
	--token-tertiary-800: 83 39% 28%;
	--token-tertiary-900: 81 40% 21%;
	--token-tertiary-950: 81 40% 14%;
	/* Olive Green */
	--token-quaternary-50: 49 100% 95%;
	--token-quaternary-100: 52 100% 88%;
	--token-quaternary-200: 52 100% 78%;
	--token-quaternary-300: 55 100% 66%;
	--token-quaternary-400: 57 99% 55%;
	--token-quaternary-500: 58 100% 45%;
	--token-quaternary-600: 60 100% 36%;
	--token-quaternary-700: 60 100% 25%;
	--token-quaternary-800: 61 88% 23%;
	--token-quaternary-900: 61 79% 20%;
	--token-quaternary-950: 65 100% 10%;
	/* Slate */
	--token-surface-50: 210 40% 98%;
	--token-surface-100: 210 40% 96%;
	--token-surface-200: 214 32% 91%;
	--token-surface-300: 213 27% 84%;
	--token-surface-400: 215 20% 65%;
	--token-surface-500: 215 16% 47%;
	--token-surface-600: 215 19% 35%;
	--token-surface-700: 215 25% 27%;
	--token-surface-800: 217 33% 17%;
	--token-surface-900: 222 47% 11%;
	--token-surface-950: 229 84% 5%;
	/* Sky */
	--token-info-50: 204 100% 97%;
	--token-info-100: 204 94% 94%;
	--token-info-200: 201 94% 86%;
	--token-info-300: 199 95% 74%;
	--token-info-400: 198 93% 60%;
	--token-info-500: 199 89% 48%;
	--token-info-600: 200 98% 39%;
	--token-info-700: 201 96% 32%;
	--token-info-800: 201 90% 27%;
	--token-info-900: 202 80% 24%;
	--token-info-950: 204 80% 16%;
	/* Lime */
	--token-success-50: 78 92% 95%;
	--token-success-100: 80 89% 89%;
	--token-success-200: 81 88% 80%;
	--token-success-300: 82 85% 67%;
	--token-success-400: 83 78% 55%;
	--token-success-500: 84 81% 44%;
	--token-success-600: 85 85% 35%;
	--token-success-700: 86 78% 27%;
	--token-success-800: 86 69% 23%;
	--token-success-900: 88 61% 20%;
	--token-success-950: 89 80% 10%;
	/* Amber */
	--token-warning-50: 48 100% 96%;
	--token-warning-100: 48 96% 89%;
	--token-warning-200: 48 97% 77%;
	--token-warning-300: 46 97% 65%;
	--token-warning-400: 43 96% 56%;
	--token-warning-500: 38 92% 50%;
	--token-warning-600: 32 95% 44%;
	--token-warning-700: 26 90% 37%;
	--token-warning-800: 23 83% 31%;
	--token-warning-900: 22 78% 26%;
	--token-warning-950: 21 92% 14%;
	/* Red */
	--token-error-50: 0 86% 97%;
	--token-error-100: 0 93% 94%;
	--token-error-200: 0 96% 89%;
	--token-error-300: 0 94% 82%;
	--token-error-400: 0 91% 71%;
	--token-error-500: 0 84% 60%;
	--token-error-600: 0 72% 51%;
	--token-error-700: 0 74% 42%;
	--token-error-800: 0 70% 35%;
	--token-error-900: 0 63% 31%;
	--token-error-950: 0 75% 15%;
}

/* SLC Colors Light */
:root {
	/* primary */
	--primary-50: var(--token-primary-50);
	--primary-100: var(--token-primary-100);
	--primary-200: var(--token-primary-200);
	--primary-300: var(--token-primary-300);
	--primary-400: var(--token-primary-400);
	--primary-500: var(--token-primary-500);
	--primary-600: var(--token-primary-600);
	--primary-700: var(--token-primary-700);
	--primary-800: var(--token-primary-800);
	--primary-900: var(--token-primary-900);
	--primary-950: var(--token-primary-950);
	/* secondary */
	--secondary-50: var(--token-secondary-50);
	--secondary-100: var(--token-secondary-100);
	--secondary-200: var(--token-secondary-200);
	--secondary-300: var(--token-secondary-300);
	--secondary-400: var(--token-secondary-400);
	--secondary-500: var(--token-secondary-500);
	--secondary-600: var(--token-secondary-600);
	--secondary-700: var(--token-secondary-700);
	--secondary-800: var(--token-secondary-800);
	--secondary-900: var(--token-secondary-900);
	--secondary-950: var(--token-secondary-950);
	/* tertiary */
	--tertiary-50: var(--token-tertiary-50);
	--tertiary-100: var(--token-tertiary-100);
	--tertiary-200: var(--token-tertiary-200);
	--tertiary-300: var(--token-tertiary-300);
	--tertiary-400: var(--token-tertiary-400);
	--tertiary-500: var(--token-tertiary-500);
	--tertiary-600: var(--token-tertiary-600);
	--tertiary-700: var(--token-tertiary-700);
	--tertiary-800: var(--token-tertiary-800);
	--tertiary-900: var(--token-tertiary-900);
	--tertiary-950: var(--token-tertiary-950);
	/* quaternary */
	--quaternary-50: var(--token-quaternary-50);
	--quaternary-100: var(--token-quaternary-100);
	--quaternary-200: var(--token-quaternary-200);
	--quaternary-300: var(--token-quaternary-300);
	--quaternary-400: var(--token-quaternary-400);
	--quaternary-500: var(--token-quaternary-500);
	--quaternary-600: var(--token-quaternary-600);
	--quaternary-700: var(--token-quaternary-700);
	--quaternary-800: var(--token-quaternary-800);
	--quaternary-900: var(--token-quaternary-900);
	--quaternary-950: var(--token-quaternary-950);
	/* surface */
	--surface-50: var(--token-surface-50);
	--surface-100: var(--token-surface-100);
	--surface-200: var(--token-surface-200);
	--surface-300: var(--token-surface-300);
	--surface-400: var(--token-surface-400);
	--surface-500: var(--token-surface-500);
	--surface-600: var(--token-surface-600);
	--surface-700: var(--token-surface-700);
	--surface-800: var(--token-surface-800);
	--surface-900: var(--token-surface-900);
	--surface-950: var(--token-surface-950);
	/* info */
	--info-50: var(--token-info-50);
	--info-100: var(--token-info-100);
	--info-200: var(--token-info-200);
	--info-300: var(--token-info-300);
	--info-400: var(--token-info-400);
	--info-500: var(--token-info-500);
	--info-600: var(--token-info-600);
	--info-700: var(--token-info-700);
	--info-800: var(--token-info-800);
	--info-900: var(--token-info-900);
	--info-950: var(--token-info-950);
	/* success */
	--success-50: var(--token-success-50);
	--success-100: var(--token-success-100);
	--success-200: var(--token-success-200);
	--success-300: var(--token-success-300);
	--success-400: var(--token-success-400);
	--success-500: var(--token-success-500);
	--success-600: var(--token-success-600);
	--success-700: var(--token-success-700);
	--success-800: var(--token-success-800);
	--success-900: var(--token-success-900);
	--success-950: var(--token-success-950);
	/* warning */
	--warning-50: var(--token-warning-50);
	--warning-100: var(--token-warning-100);
	--warning-200: var(--token-warning-200);
	--warning-300: var(--token-warning-300);
	--warning-400: var(--token-warning-400);
	--warning-500: var(--token-warning-500);
	--warning-600: var(--token-warning-600);
	--warning-700: var(--token-warning-700);
	--warning-800: var(--token-warning-800);
	--warning-900: var(--token-warning-900);
	--warning-950: var(--token-warning-950);
	/* error */
	--error-50: var(--token-error-50);
	--error-100: var(--token-error-100);
	--error-200: var(--token-error-200);
	--error-300: var(--token-error-300);
	--error-400: var(--token-error-400);
	--error-500: var(--token-error-500);
	--error-600: var(--token-error-600);
	--error-700: var(--token-error-700);
	--error-800: var(--token-error-800);
	--error-900: var(--token-error-900);
	--error-950: var(--token-error-950);

	/* Colors */
	--background: hsl(0 0% 100%);
	--background-alt: hsl(0 0% 100%);
	--foreground: hsl(0 0% 9%);
	--foreground-alt: hsl(0 0% 32%);
	--muted: hsl(240 5% 96%);
	--muted-foreground: hsla(0 0% 9% / 0.4);
	--border: hsl(240 6% 10%);
	--border-input: hsla(240 6% 10% / 0.17);
	--border-input-hover: hsla(240 6% 10% / 0.4);
	--border-card: hsla(240 6% 10% / 0.1);
	--dark: hsl(240 6% 10%);
	--dark-10: hsla(240 6% 10% / 0.1);
	--dark-40: hsla(240 6% 10% / 0.4);
	--dark-04: hsla(240 6% 10% / 0.04);
	--accent: hsl(204 94% 94%);
	--accent-foreground: hsl(204 80% 16%);
	--destructive: hsl(347 77% 50%);
	--tertiary: hsl(37.7 92.1% 50.2%);
	--line: hsl(0 0% 100%);

	/* black */
	--contrast: hsl(0 0% 0%);

	/* Shadows */
	--shadow-mini: 0px 1px 0px 1px rgba(0, 0, 0, 0.04);
	--shadow-mini-inset: 0px 1px 0px 0px rgba(0, 0, 0, 0.04) inset;
	--shadow-popover: 0px 7px 12px 3px hsla(var(--dark-10));
	--shadow-kbd: 0px 2px 0px 0px rgba(0, 0, 0, 0.07);
	--shadow-btn: 0px 1px 0px 1px rgba(0, 0, 0, 0.03);
	--shadow-card: 0px 2px 0px 1px rgba(0, 0, 0, 0.04);
	--shadow-date-field-focus: 0px 0px 0px 3px rgba(24, 24, 27, 0.17);
}

/* SLC Colors Dark */
.dark {
	color-scheme: dark;
	/* primary */
	--primary-50: var(--token-primary-950);
	--primary-100: var(--token-primary-900);
	--primary-200: var(--token-primary-800);
	--primary-300: var(--token-primary-700);
	--primary-400: var(--token-primary-600);
	--primary-500: var(--token-primary-500);
	--primary-600: var(--token-primary-400);
	--primary-700: var(--token-primary-300);
	--primary-800: var(--token-primary-200);
	--primary-900: var(--token-primary-100);
	--primary-950: var(--token-primary-50);
	/* secondary */
	--secondary-50: var(--token-secondary-950);
	--secondary-100: var(--token-secondary-900);
	--secondary-200: var(--token-secondary-800);
	--secondary-300: var(--token-secondary-700);
	--secondary-400: var(--token-secondary-600);
	--secondary-500: var(--token-secondary-500);
	--secondary-600: var(--token-secondary-400);
	--secondary-700: var(--token-secondary-300);
	--secondary-800: var(--token-secondary-200);
	--secondary-900: var(--token-secondary-100);
	--secondary-950: var(--token-secondary-50);
	/* tertiary */
	--tertiary-50: var(--token-tertiary-950);
	--tertiary-100: var(--token-tertiary-900);
	--tertiary-200: var(--token-tertiary-800);
	--tertiary-300: var(--token-tertiary-700);
	--tertiary-400: var(--token-tertiary-600);
	--tertiary-500: var(--token-tertiary-500);
	--tertiary-600: var(--token-tertiary-400);
	--tertiary-700: var(--token-tertiary-300);
	--tertiary-800: var(--token-tertiary-200);
	--tertiary-900: var(--token-tertiary-100);
	--tertiary-950: var(--token-tertiary-50);
	/* quaternary */
	--quaternary-50: var(--token-quaternary-950);
	--quaternary-100: var(--token-quaternary-900);
	--quaternary-200: var(--token-quaternary-800);
	--quaternary-300: var(--token-quaternary-700);
	--quaternary-400: var(--token-quaternary-600);
	--quaternary-500: var(--token-quaternary-500);
	--quaternary-600: var(--token-quaternary-400);
	--quaternary-700: var(--token-quaternary-300);
	--quaternary-800: var(--token-quaternary-200);
	--quaternary-900: var(--token-quaternary-100);
	--quaternary-950: var(--token-quaternary-50);
	/* surface */
	--surface-50: var(--token-surface-950);
	--surface-100: var(--token-surface-900);
	--surface-200: var(--token-surface-800);
	--surface-300: var(--token-surface-700);
	--surface-400: var(--token-surface-600);
	--surface-500: var(--token-surface-500);
	--surface-600: var(--token-surface-400);
	--surface-700: var(--token-surface-300);
	--surface-800: var(--token-surface-200);
	--surface-900: var(--token-surface-100);
	--surface-950: var(--token-surface-50);
	/* info */
	--info-50: var(--token-info-950);
	--info-100: var(--token-info-900);
	--info-200: var(--token-info-800);
	--info-300: var(--token-info-700);
	--info-400: var(--token-info-600);
	--info-500: var(--token-info-500);
	--info-600: var(--token-info-400);
	--info-700: var(--token-info-300);
	--info-800: var(--token-info-200);
	--info-900: var(--token-info-100);
	--info-950: var(--token-info-50);
	/* success */
	--success-50: var(--token-success-950);
	--success-100: var(--token-success-900);
	--success-200: var(--token-success-800);
	--success-300: var(--token-success-700);
	--success-400: var(--token-success-600);
	--success-500: var(--token-success-500);
	--success-600: var(--token-success-400);
	--success-700: var(--token-success-300);
	--success-800: var(--token-success-200);
	--success-900: var(--token-success-100);
	--success-950: var(--token-success-50);
	/* warning */
	--warning-50: var(--token-warning-950);
	--warning-100: var(--token-warning-900);
	--warning-200: var(--token-warning-800);
	--warning-300: var(--token-warning-700);
	--warning-400: var(--token-warning-600);
	--warning-500: var(--token-warning-500);
	--warning-600: var(--token-warning-400);
	--warning-700: var(--token-warning-300);
	--warning-800: var(--token-warning-200);
	--warning-900: var(--token-warning-100);
	--warning-950: var(--token-warning-50);
	/* error */
	--error-50: var(--token-error-950);
	--error-100: var(--token-error-900);
	--error-200: var(--token-error-800);
	--error-300: var(--token-error-700);
	--error-400: var(--token-error-600);
	--error-500: var(--token-error-500);
	--error-600: var(--token-error-400);
	--error-700: var(--token-error-300);
	--error-800: var(--token-error-200);
	--error-900: var(--token-error-100);
	--error-950: var(--token-error-50);

	/* Colors */
	--background: hsl(0 0% 5%);
	--background-alt: hsl(0 0% 8%);
	--foreground: hsl(0 0% 95%);
	--foreground-alt: hsl(0 0% 70%);
	--muted: hsl(240 4% 16%);
	--muted-foreground: hsla(0 0% 100% / 0.4);
	--border: hsl(0 0% 96%);
	--border-input: hsla(0 0% 96% / 0.17);
	--border-input-hover: hsla(0 0% 96% / 0.4);
	--border-card: hsla(0 0% 96% / 0.1);
	--dark: hsl(0 0% 96%);
	--dark-40: hsl(0 0% 96% / 0.4);
	--dark-10: hsl(0 0% 96% / 0.1);
	--dark-04: hsl(0 0% 96% / 0.04);
	--accent: hsl(204 90% 90%);
	--accent-foreground: hsl(204 94% 94%);
	--destructive: hsl(350 89% 60%);
	--line: hsl(0 0% 9.02%);
	--tertiary: hsl(61.3 100% 82.2%);
	/* white */
	--contrast: hsl(0 0% 100%);

	/* Shadows */
	--shadow-mini: 0px 1px 0px 1px rgba(0, 0, 0, 0.3);
	--shadow-mini-inset: 0px 1px 0px 0px rgba(0, 0, 0, 0.5) inset;
	--shadow-popover: 0px 7px 12px 3px hsla(0deg 0% 0% / 30%);
	--shadow-kbd: 0px 2px 0px 0px rgba(255, 255, 255, 0.07);
	--shadow-btn: 0px 1px 0px 1px rgba(0, 0, 0, 0.2);
	--shadow-card: 0px 2px 0px 1px rgba(0, 0, 0, 0.4);
	--shadow-date-field-focus: 0px 0px 0px 3px rgba(244, 244, 245, 0.1);
}

/* SLC Colors Tailwind */
@theme inline {
	/* primary */
	--color-primary-50: hsl(var(--primary-50));
	--color-primary-100: hsl(var(--primary-100));
	--color-primary-200: hsl(var(--primary-200));
	--color-primary-300: hsl(var(--primary-300));
	--color-primary-400: hsl(var(--primary-400));
	--color-primary-500: hsl(var(--primary-500));
	--color-primary-600: hsl(var(--primary-600));
	--color-primary-700: hsl(var(--primary-700));
	--color-primary-800: hsl(var(--primary-800));
	--color-primary-900: hsl(var(--primary-900));
	--color-primary-950: hsl(var(--primary-950));
	/* secondary */
	--color-secondary-50: hsl(var(--secondary-50));
	--color-secondary-100: hsl(var(--secondary-100));
	--color-secondary-200: hsl(var(--secondary-200));
	--color-secondary-300: hsl(var(--secondary-300));
	--color-secondary-400: hsl(var(--secondary-400));
	--color-secondary-500: hsl(var(--secondary-500));
	--color-secondary-600: hsl(var(--secondary-600));
	--color-secondary-700: hsl(var(--secondary-700));
	--color-secondary-800: hsl(var(--secondary-800));
	--color-secondary-900: hsl(var(--secondary-900));
	--color-secondary-950: hsl(var(--secondary-950));
	/* tertiary */
	--color-tertiary-50: hsl(var(--tertiary-50));
	--color-tertiary-100: hsl(var(--tertiary-100));
	--color-tertiary-200: hsl(var(--tertiary-200));
	--color-tertiary-300: hsl(var(--tertiary-300));
	--color-tertiary-400: hsl(var(--tertiary-400));
	--color-tertiary-500: hsl(var(--tertiary-500));
	--color-tertiary-600: hsl(var(--tertiary-600));
	--color-tertiary-700: hsl(var(--tertiary-700));
	--color-tertiary-800: hsl(var(--tertiary-800));
	--color-tertiary-900: hsl(var(--tertiary-900));
	--color-tertiary-950: hsl(var(--tertiary-950));
	/* quaternary */
	--color-quaternary-50: hsl(var(--quaternary-50));
	--color-quaternary-100: hsl(var(--quaternary-100));
	--color-quaternary-200: hsl(var(--quaternary-200));
	--color-quaternary-300: hsl(var(--quaternary-300));
	--color-quaternary-400: hsl(var(--quaternary-400));
	--color-quaternary-500: hsl(var(--quaternary-500));
	--color-quaternary-600: hsl(var(--quaternary-600));
	--color-quaternary-700: hsl(var(--quaternary-700));
	--color-quaternary-800: hsl(var(--quaternary-800));
	--color-quaternary-900: hsl(var(--quaternary-900));
	--color-quaternary-950: hsl(var(--quaternary-950));
	/* surface */
	--color-surface-50: hsl(var(--surface-50));
	--color-surface-100: hsl(var(--surface-100));
	--color-surface-200: hsl(var(--surface-200));
	--color-surface-300: hsl(var(--surface-300));
	--color-surface-400: hsl(var(--surface-400));
	--color-surface-500: hsl(var(--surface-500));
	--color-surface-600: hsl(var(--surface-600));
	--color-surface-700: hsl(var(--surface-700));
	--color-surface-800: hsl(var(--surface-800));
	--color-surface-900: hsl(var(--surface-900));
	--color-surface-950: hsl(var(--surface-950));
	/* info */
	--color-info-50: hsl(var(--info-50));
	--color-info-100: hsl(var(--info-100));
	--color-info-200: hsl(var(--info-200));
	--color-info-300: hsl(var(--info-300));
	--color-info-400: hsl(var(--info-400));
	--color-info-500: hsl(var(--info-500));
	--color-info-600: hsl(var(--info-600));
	--color-info-700: hsl(var(--info-700));
	--color-info-800: hsl(var(--info-800));
	--color-info-900: hsl(var(--info-900));
	--color-info-950: hsl(var(--info-950));
	/* success */
	--color-success-50: hsl(var(--success-50));
	--color-success-100: hsl(var(--success-100));
	--color-success-200: hsl(var(--success-200));
	--color-success-300: hsl(var(--success-300));
	--color-success-400: hsl(var(--success-400));
	--color-success-500: hsl(var(--success-500));
	--color-success-600: hsl(var(--success-600));
	--color-success-700: hsl(var(--success-700));
	--color-success-800: hsl(var(--success-800));
	--color-success-900: hsl(var(--success-900));
	--color-success-950: hsl(var(--success-950));
	/* warning */
	--color-warning-50: hsl(var(--warning-50));
	--color-warning-100: hsl(var(--warning-100));
	--color-warning-200: hsl(var(--warning-200));
	--color-warning-300: hsl(var(--warning-300));
	--color-warning-400: hsl(var(--warning-400));
	--color-warning-500: hsl(var(--warning-500));
	--color-warning-600: hsl(var(--warning-600));
	--color-warning-700: hsl(var(--warning-700));
	--color-warning-800: hsl(var(--warning-800));
	--color-warning-900: hsl(var(--warning-900));
	--color-warning-950: hsl(var(--warning-950));
	/* error */
	--color-error-50: hsl(var(--error-50));
	--color-error-100: hsl(var(--error-100));
	--color-error-200: hsl(var(--error-200));
	--color-error-300: hsl(var(--error-300));
	--color-error-400: hsl(var(--error-400));
	--color-error-500: hsl(var(--error-500));
	--color-error-600: hsl(var(--error-600));
	--color-error-700: hsl(var(--error-700));
	--color-error-800: hsl(var(--error-800));
	--color-error-900: hsl(var(--error-900));
	--color-error-950: hsl(var(--error-950));

	--color-background: var(--background);
	--color-background-alt: var(--background-alt);
	--color-foreground: var(--foreground);
	--color-foreground-alt: var(--foreground-alt);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-border: hsl(var(--surface-300));
	--color-border-input: var(--border-input);
	--color-border-input-hover: var(--border-input-hover);
	--color-border-card: var(--border-card);
	--color-dark: var(--dark);
	--color-dark-10: var(--dark-10);
	--color-dark-40: var(--dark-40);
	--color-dark-04: var(--dark-04);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-tertiary: var(--tertiary);
	--color-line: var(--line);
	--color-contrast: var(--contrast);

	--shadow-mini: var(--shadow-mini);
	--shadow-mini-inset: var(--shadow-mini-inset);
	--shadow-popover: var(--shadow-popover);
	--shadow-kbd: var(--shadow-kbd);
	--shadow-btn: var(--shadow-btn);
	--shadow-card: var(--shadow-card);
	--shadow-date-field-focus: var(--shadow-date-field-focus);

	--text-xxs: 10px;

	--radius-card: 16px;
	--radius-card-lg: 20px;
	--radius-card-sm: 10px;
	--radius-input: 9px;
	--radius-button: 5px;
	--radius-5px: 5px;
	--radius-9px: 9px;
	--radius-10px: 10px;
	--radius-15px: 15px;

	--spacing-input: 3rem;
	--spacing-input-sm: 2.5rem;

	--breakpoint-desktop: 1440px;

	--animate-accordion-down: accordion-down 0.2s ease-out;
	--animate-accordion-up: accordion-up 0.2s ease-out;
	--animate-caret-blink: caret-blink 1s ease-out infinite;
	--animate-scale-in: scale-in 0.2s ease;
	--animate-scale-out: scale-out 0.15s ease;
	--animate-fade-in: fade-in 0.2s ease;
	--animate-fade-out: fade-out 0.15s ease;
	--animate-enter-from-left: enter-from-left 0.2s ease;
	--animate-enter-from-right: enter-from-right 0.2s ease;
	--animate-exit-to-left: exit-to-left 0.2s ease;
	--animate-exit-to-right: exit-to-right 0.2s ease;

	/* --font-sans: 'Inter', 'sans-serif'; */
	--font-mono: 'Source Code Pro', 'monospace';
	--font-alt: 'Courier', 'sans-serif';
	--font-display: 'Cal Sans', 'sans-serif';

	@keyframes accordion-down {
		from {
			height: 0;
		}
		to {
			height: var(--bits-accordion-content-height);
		}
	}

	@keyframes accordion-up {
		from {
			height: var(--bits-accordion-content-height);
		}
		to {
			height: 0;
		}
	}

	@keyframes caret-blink {
		0%,
		70%,
		100% {
			opacity: 1;
		}
		20%,
		50% {
			opacity: 0;
		}
	}

	@keyframes enter-from-right {
		from {
			opacity: 0;
			transform: translateX(200px);
		}
		to {
			opacity: 1;
			transform: translateX(0);
		}
	}

	@keyframes enter-from-left {
		from {
			opacity: 0;
			transform: translateX(-200px);
		}
		to {
			opacity: 1;
			transform: translateX(0);
		}
	}

	@keyframes exit-to-right {
		from {
			opacity: 1;
			transform: translateX(0);
		}
		to {
			opacity: 0;
			transform: translateX(200px);
		}
	}

	@keyframes exit-to-left {
		from {
			opacity: 1;
			transform: translateX(0);
		}
		to {
			opacity: 0;
			transform: translateX(-200px);
		}
	}

	@keyframes scale-in {
		from {
			opacity: 0;
			transform: rotateX(-10deg) scale(0.9);
		}
		to {
			opacity: 1;
			transform: rotateX(0deg) scale(1);
		}
	}

	@keyframes scale-out {
		from {
			opacity: 1;
			transform: rotateX(0deg) scale(1);
		}
		to {
			opacity: 0;
			transform: rotateX(-10deg) scale(0.95);
		}
	}

	@keyframes fade-in {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	@keyframes fade-out {
		from {
			opacity: 1;
		}
		to {
			opacity: 0;
		}
	}
}

@theme {
	--breakpoint-*: initial;
	--breakpoint-sm: 640px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 1140px;
}

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-border-card, currentColor);
	}

	* {
		@apply border-border;
	}
	html {
		-webkit-tap-highlight-color: color-mix(in oklab, hsl(var(--primary-500)) 30%, transparent);
	}

	body {
		@apply bg-surface-50 text-surface-950 font-sans text-base font-normal;
	}

	html,
	body {
		@apply m-0 h-full w-full overflow-hidden p-0;
	}

	::selection {
		background: hsl(var(--primary-200));
	}

	/* ############################# BEGIN scrollbar ################################# */
	/* sm: 640px >  < ∞ */
	@media screen and (min-width: 640px) {
		/* Modern browsers with `scrollbar-*` support */
		@supports (scrollbar-width: auto) {
			html {
				/* scrollbar-color: <thumb> <track>; */
				scrollbar-color: hsl(var(--surface-500)) transparent;
				scrollbar-width: thin;
				scroll-behavior: smooth;
			}

			html * {
				scrollbar-width: inherit;
			}
		}

		/* Legacy browsers with `::-webkit-scrollbar-*` support */
		@supports selector(::-webkit-scrollbar) {
			::-webkit-scrollbar-track {
				background: transparent;
			}
			::-webkit-scrollbar-thumb {
				background-color: hsl(var(--surface-500));
			}
			::-webkit-scrollbar {
				max-width: 8px;
				max-height: 8px;
			}
		}
	}
	/* ############################# END scrollbar ################################### */

	/* # Mobile First. `tailwind screens breakpoints` */
	/* ##### BEGIN `xs: 0px >  < 640px` - phone ################################################################################# */
	.slc-screen-test::before {
		content: 'CSS Screen Size: xs (0px >  < 640px) - phone';
	}
	:root {
		--slc-site-header-size: 3.5rem;
	}
	/* ##### END `xs: 0px >  < 640px` ################################################################################### */

	/* ##### BEGIN `sm: 640px >  < 768px` - tablet ############################################################################### */
	@media (min-width: 640px) {
		.slc-screen-test::before {
			content: 'CSS Screen Size: sm (640px >  < 768px) - tablet';
		}
		:root {
			--slc-site-header-size: 3.5rem;
		}
	}
	/* ##### END `sm: 640px >  < 768px` ################################################################################ */

	/* ##### BEGIN `md: 768px >  < 1024px` - tablet landscape ############################################################################# */
	@media (min-width: 768px) {
		.slc-screen-test::before {
			content: 'CSS Screen Size: md (768px >  < 1024px) - tablet landscape';
		}
		:root {
			--slc-site-header-size: 3.5rem;
		}
	}
	/* ##### END `md: 768px >  < 1024px` ############################################################################### */

	/* ##### BEGIN `lg: 1024px >  < 1280px` - laptop ################################################################################# */
	@media (min-width: 1024px) {
		.slc-screen-test::before {
			content: 'CSS Screen Size: lg (1024px >  < 1280px) - laptop';
		}
		:root {
			--slc-site-header-size: 3.5rem;
		}
	}
	/* ##### END `lg: 1024px >  < 1280px` ################################################################################### */

	/* ##### BEGIN `xl: 1280px >  < ∞` - desktop ################################################################################# */
	@media (min-width: 1280px) {
		.slc-screen-test::before {
			content: 'CSS Screen Size: xl (1280px >  < ∞) - desktop';
		}
		:root {
			--slc-site-header-size: 3.5rem;
		}
	}
	/* ##### END `xl: 1280px >  < ∞` ################################################################################### */
}

@layer components {
	*:not(body):not(.focus-override) {
		/* outline: none !important; */
		/* &:focus-visible {
			@apply focus-visible:ring-foreground focus-visible:ring-offset-background focus-visible:ring-2 focus-visible:ring-offset-1 focus-visible:outline-hidden;
		} */
	}

	.link {
		@apply hover:text-foreground/80 focus-visible:ring-foreground focus-visible:ring-offset-background inline-flex items-center gap-1 rounded-xs font-medium underline underline-offset-4 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:outline-hidden;
	}
}
