services:
  s_pocketbase:
    build:
      context: ./docker-config
      dockerfile: Dockerfile
    container_name: c_pocketbase_spa
    restart: unless-stopped
    volumes:
      - ../../.slc-production/pocketbase/pb_data:/pb/pb_data
      - ../../.slc-production/pocketbase/pb_hooks:/pb/pb_hooks
      - ../../.slc-production/pocketbase/pb_migrations:/pb/pb_migrations
      - ../../.slc-production/pocketbase/pb_public:/pb/pb_public
    ports:
      - 8099:8099
